PORT=3000
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
USERS_TABLE=NavioUsers
TRIPS_TABLE=NavioTrips
PLACES_TABLE=NavioPlaces
ITINERARIES_TABLE=NavioItineraries
REVIEWS_TABLE=NavioReviews
MEDIA_BUCKET=navio-media-bucket
